*{
    padding: 0;
    margin:0;
  }
body{
  font-family: "Montserrat",sans-serif;
}
.header{
    min-height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(IMAGES/admin-night.jpg);
    background-position: centre;
    background-size: cover;
    position: relative;
  }
nav{
  position: fixed;
  top: 0px;
  width: 90%;
  background: rgba(0,0,0,0);
  display: flex;
  padding: 1% 5%;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ;
  -webkit-transition: 0.5s ;
  -moz-transition: 0.5s ;
  -ms-transition: 0.5s ;
  -o-transition: 0.5s ;
  z-index: 1;
}
nav.scrolled{
  background: black;
}
nav img{
  width:190 px;
}
.logo-name{
  padding: 10px;
  font-size: 18px;
  color : white;
  text-decoration: solid;
}
.nav-links{
  flex: 1;
  text-align:right;
}
.nav-links ul li{
  list-style :none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: white;
  text-decoration:none;
  font-size: 15px;
  padding: 7px 12px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.nav-links ul li a.active{
  color: black;
  font-weight: 500;
  background: white;
  
}
.nav-links ul li a.nav-btn:hover{
  color:black;
  background:white;
  transition:0.4s;
  -webkit-transition:0.4s;
  -moz-transition:0.4s;
  -ms-transition:0.4s;
  -o-transition:0.4s;
  -webkit-transition:0.4s;
}
.text-box{
  width: 90%;
  color: white;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
  text-align: left;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

a.footer-map-link{
  color: black;
}
a.footer-map-link:hover{
  color: orangered;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.text-box h1{
  font-size: 45px;
  font-family: sans-serif;
  text-align: center;
}
.text-box p{
  margin : 10px 0 40px;
  font-size: 25px;
  color: whitesmoke;
  margin-left: 150px;
  font-family: 'Flamenco',sans-serif;
}
/*
.hero-button{
  
  display:inline-block;
  text-decoration:none;
  color:white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 20px 40px;
  font-size: 15px;
  background: transparent;
  position:relative;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.hero-button:hover{
  border: 1px #e53624;
  background:#E53624;
  transition:0.5s;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  -ms-transition:0.5s;
  -o-transition:0.5s;
} */
nav .fa-solid{
  display: none;

}
footer{
  width:100%;
  background: url(IMAGES/simplewhitebg.png);
  bottom: 0;
  padding: 50px 0 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.row-1{
  width:85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.col{
  flex-basis: 20%;
  padding: 10px;
}
.fa-map-location-dot{
  padding: 10px;
}
a.nsutfooterlogo:hover{
  color: orangered;
}
/* courses */
.course{
  width:80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1{
  font-size: 36px;
  font-weight: 600;
}
.course p{
  color : #777;
  font-size : 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row{
  display: flex;
  margin-top: 5%;
  justify-content: space-between;

}
.course-col{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom:5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;

}
.course-col:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.col h3{
  width: fit-content;
  position : relative;
  margin-bottom: 20px;
}
.download-links a{
  text-decoration: none;
  padding: 0px;
  color: black;
  font-size: 15px;
}
.contact-us-footer{
  margin:10px 2;
  text-decoration: none;
  padding:1px 5px;
  background-color: black;
  border: 1px solid black;
  color:white;
  border-radius: 20px;
  font-size:15px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.contact-us-footer:hover{
  background-color: orangered;
  border:1px solid orangered;
}
.download-links a:hover{
  color: orangered;
}
.social-links-footer a{
  font-size: 34px;
  position: relative;
  padding: 4px;
  color: black;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.catchuson{
  padding: 5px;
  margin-right: 30px;
}
.footer-map-link{
  text-decoration: none;
}
.fa-facebook:hover{
  color: #1877F2;
}
.fa-instagram:hover{
  color:    #ee2a7b;
}
.fa-linkedin:hover{
  color:#0072b1;
}
.fa-youtube:hover{
  color: #ff0000;
}
.fa-square-x-twitter{
  color: black;
}
.fa-square-x-twitter:hover{
  color: #1DA1F2;
}
.hr-footer-copyright{
  width: 90%;
  border:0;
  border-bottom: 1px solid #ccc;
  margin :20px auto;
}
.copyright-footer{
  text-align: center;
}
.testimonials-main-page{
  padding:40px;
  margin:0;
  position: sticky;
  box-sizing: border-box;
  font-family:'Montserrat',sans-serif; 
  min-height:100vh;
  text-align: center;
}
.testimonials-main-page-content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay{
  position: absolute;
  left:0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #e5989b;
  border-radius: 25px 25px 0 25px;
  -webkit-border-radius: 25px 25px 0 25px;
  -moz-border-radius: 25px 25px 0 25px;
  -ms-border-radius: 25px 25px 0 25px;
  -o-border-radius: 25px 25px 0 25px;
}
.overlay::before,.overlay::after{
  content:'';
  position: absolute;
  height: 40px;
  width: 40px;
  right: 0;
  bottom: -40px;
  background-color:#e5989b;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  -webkit-border-radius: 0 25px 0 0;
  -moz-border-radius: 0 25px 0 0;
  -ms-border-radius: 0 25px 0 0;
  -o-border-radius: 0 25px 0 0;
  background-color: #fff;
}
.card-image{
  position:relative;
  height:150px;
  width: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding:3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 4px solid #e5989b;
}
.testimonials-main-page .card{
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  background-color: #fff;
}
.card-content .name{
  font-size: 18px;
  font-weight: 500;
  font-weight: 500px;
  color: #333;
}
.card-content .description{
  padding:2px;
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
  border-radius: 25px 25px 0 25px;
  -webkit-border-radius: 25px 25px 0 25px;
  -moz-border-radius: 25px 25px 0 25px;
  -ms-border-radius: 25px 25px 0 25px;
  -o-border-radius: 25px 25px 0 25px;
}
.card .button{
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #e5989b;
  border-radius: 6px;
  margin: 14px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.card .button:hover{
  background: #f67e7d;

}
.slide-container{
  max-width: 1120px;
  width: 100%;

  padding: 40px 0;
}
.slide-content{
  padding: 45px 20px;
  margin: 0px 40px;

  overflow: hidden;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.image-content,.card-content{
  display: flex;
  flex-direction: column;
  padding:10px 14px;
  align-items: center;
}
.swiper-navBtn{
  color: #6e93f7;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 40px;
}
.swiper-button-next{
  right:0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination.bullet{
  background-color: #6e93f7;
  opacity:1;
}
.swiper-pagination-bullet-active{
  background-color: #4070f4;
}
@media(max-width:700px){
  .text-box h1{
    font-size: 20px;
  }
  .nav-links ul li{
    display:block;

  }
  .nav-links{
    position: absolute;
    background: #303983;
    height:100vh;
    width:200px;
    top:0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
  nav .fa-solid{
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul{
    padding: 30px;
  }
}
@media(max-width: 700px){
  .row{
    flex-direction: column;
  }
}
@media screen and (max-width:768 px){
  .slide-content{
    margin: 0 10px
  }
  .swiper-navBtn{
    display: none;
  }
}
